{% extends "base.jinja2" %}

{% block inner_head %}
<title>Job {{id}} Stats</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    function refreshCallback(data, status) {
        location.reload();
    }

    function resetJob(id) {
        let url = '/Jobs/' + id + '/reset'
        let query = {}

        sendAjax(url, query, refreshCallback)
    }

    function resetTask(id, taskId) {
        let url = '/Jobs/' + id + '/restart'
        let query = {'task': taskId}

        sendAjax(url, query, refreshCallback)
    }
</script>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column flex-grow h-100">
    <h1>PeakLearner Job {{id}} Stats</h1>
    <div class="row">
        <div class="col">
            <p>Hub user for job: {{jobUser}}</p>
            <p>Hub name for job: {{hub}}</p>
            <p>Track name for job: {{track}}</p>
            <p>Job Problem: {{problem}}</p>
            <p>Job Status: {{status}}</p>
            <p>Job Type: {{jobType}}</p>
            <p>Job Priority: {{priority}}</p>
            <p>Job ID: {{id}}</p>
            <p>Job Iteration: {{iteration}}</p>
            <button type="button" class="btn btn-light" onclick="resetJob({{id}})">Reset Job</button>
        </div>
    </div>

    <h2>Tasks</h2>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Task ID</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Penalty</th>
                <th scope="col">Task Time</th>
                <th scope="col">Reset Task</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                {# looping over a dict will give the dicts keys so get value of dict at key and set as task #}
                <th scope="row">{{task['id']}}</th>
                <td>{{task['status']}}</td>
                <td>{{task['taskType']}}</td>
                {% if task['taskType'] == 'model' %}
                <td>{{task['penalty']}}</td>
                {% else %}
                <td>None</td>
                {% endif %}
                {% if task['status'] == 'Done' %}
                <td>{{task['totalTime']}}</td>
                {% else %}
                <td>---</td>
                {% endif %}
                <td><button type="button" class="btn btn-light" onclick="resetTask({{id}}, {{task['taskId']}})">Reset Task
                </button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>
{% endblock %}