# Exclude everything
*

# Include only the required stuff

!jbrowse/*
# Some parts of jbrowse are not needed
jbrowse/jbrowse/dist
jbrowse/jbrowse/extlib
jbrowse/jbrowse/.github
jbrowse/jbrowse/node_modules
jbrowse/jbrowse/plugins/*/test
jbrowse/jbrowse/release
jbrowse/jbrowse/tests
jbrowse/jbrowse/utils
jbrowse/jbrowse/website
**/data

!core
!PeakLearner
!website
!PeakLearner.cfg
!requirements.txt
!slurmRequirements.txt
!main.py
!Slurm
!PeakLearnerSlurm.cfg
!gunicorn.cfg.py
!startServer.sh


**/__pycache__