/PeakLearner.cfg
**/__pycache__/
*.pyc
/.idea/
/server/data/
*PeakLearnerSlurm.cfg
*/data/
/slurmdata/
/runlog.txt
/bin/
/PeakLearner.egg-info/
/backup
/testProfile
/certs
/docs/.docusaurus
/docs/build
/docs/node_modules
/venv
chromedriver
/.coverage
/coverage.*
log.txt
screenshots
!tests/*
tools
.env
.pytest_cache
testDbs