pybbi==0.3.0
numpy==1.19.4
pandas==1.1.4
pyramid==1.10.5
pyramid-jinja2==2.8
requests==2.23.0
simpleBDB==1.0.12
pyramid-google-login==1.2.1
git+git://github.com/deltarod/PeakError
git+git://github.com/deltarod/PeakSegDisk
git+git://github.com/deltarod/LOPART
