httpx<0.18.2
uvicorn==0.14.0
asgiref>=3.3.4
click>=7.*
h11>=0.8
fastapi==0.68.0
starlette==0.14.2
typing-extensions>=3.7.4.3
pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2
aiofiles==0.7.0
itsdangerous==2.0.1
authlib==0.15.4
cffi==1.14.6
cryptography==3.4.7
pycparser==2.20
pandas==1.2.4
MarkupSafe==2.0.1
jinja2==3.0.1
berkeleydb==18.1.4
pytest==6.2.4
pytest-codecov==0.3.0
requests==2.25.1
scipy==1.6.3
selenium==3.141.0
simpleBDB==1.1.24
aiohttp==3.7.4
asynctest==0.13.0
gunicorn==20.1.0
apscheduler==3.7.0
python-multipart==0.0.5
git+git://github.com/deltarod/PeakError
git+git://github.com/deltarod/PeakSegDisk
git+git://github.com/deltarod/LOPART
git+git://github.com/deltarod/FLOPART
git+git://github.com/bbalasub1/glmnet_python.git

