{% extends "base.jinja2" %}

{% block inner_head %}
    <title>Admin Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="flex-column">
        <h2 class="text-center">Admin</h2>
    </div>
</div>

<hr/>

<button onclick="window.location.href='/recalculateModels'">recalculateModels</button>
<button onclick="window.location.href='/fixModelsToModelSums'">fixModelsToModelSums</button>
<button onclick="window.location.href='/runJobSpawn'">runJobSpawn</button>
<button onclick="window.location.href='/checkRestartJobs'">checkRestartJobs</button>
<button onclick="window.location.href='/runPrediction'">runPrediction</button>
<button onclick="window.location.href='/backup'">backup</button>


<h2>Add Admin</h2>
<form action="/addAdmin">
  <label for="email">Email</label><br>
  <input type="text" id="email" name="email" value="user@mail.com"><br>
  <input type="submit" value="Submit">
</form>


{% endblock %}