{% extends "base.jinja2" %}

{% block inner_head %}
    <title>Help</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4 ml-4">
        <div class="col">
            <h1>Help: A collection of resources for using PeakLearner</h1>
            <hr>
            <h2>Tutorial Page</h2>
            <p>For a link to the tutorial page, please see <a href="/tutorial/">here.</a></p>

            <hr>
            <h2>API Documentation</h2>
            <p>For the api documentation, please see <a href="/api/">here.</a></p>
        </div>
    </div>
</div>

{% endblock %}
