{% extends "base.jinja2" %}

{% block inner_head %}
    <title>More Info</title>
{% endblock %}

{% block content %}
    <a class="btn btn-secondary float-right" href="/myHubs/">Back</a>
    <h2 class="text-center">{{ hubName }} More Info</h2>

    <hr>

    <div style="padding-left:20px;">
        <b>Owner:</b> {{ hubInfo['owner']}}
        <br>
        <b>Tracks:</b> {{ hubInfo['tracks']|length }}
        <br>
        <b>Labels:</b> {{ numLabels }}
        <br><br>
        {%for track in labels%}
            <h5>Track: {{ track }}</h5>
            {% for chrom in labels[track] %}
                <h6>Chromosome: {{ chrom }}</h6>
                <br>
                {{labels[track][chrom] | safe}}
                <br>
            {% endfor %}
        <br>
        {%endfor%}
    </div>
{% endblock %}
