{% extends "base.jinja2" %}

{% block inner_head %}
    <title>PeakLearner</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4 ml-4">
        <div class="col-md-6">
            <h1>PeakLearner: Interactive Machine Learning for Genome Analysis</h1>
            <p>PeakLearner is a fast and simple genome analysis and labeling tool with the goal of providing researchers the
            ability to add labels and generate models for ChIP-seq data. It is built upon <a href="https://jbrowse.org/jbrowse1.html">Jbrowse</a>,
            a fast genome browser. For how to use PeakLearner, please see the <a href="/tutorial/">tutorial page</a>, or the video tutorials (TODO).</p>
            <p>For an example track, please see <a href="https://peaklearner.rc.nau.edu/Public/H3K4me3_TDH_ENCODE/">here.</a></p>
        </div>
        <div class="col-md-6">
             <img src="/static/tutorial/AfterTrackSelection.png" alt="Jbrowse example" width="100%">
        </div>
    </div>
    <div class="row mt-4 ml-4">
        <div class="col">
            <h2>Features</h2>
            <hr>
            <ul>
                <li>Ease of labeling</li>
                <li>Group Collaboration (Soon)</li>
                <li>Automatic Model Generation</li>
                <li>API (Soon to be documented)</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
