{% extends "templates/home_base.jinja2" %}

{% block inner_head %}
    <title>PeakLearner</title>
{% endblock %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                {% if user is not none%}
                <h1>Welcome to PeakLearner</h1>
                <h2>{{user}}</h2>
                {% else %}
                <h1>Welcome to PeakLearner</h1>
                <h2>Please Login With Google</h2>
                {%endif%}
                <div class="d-flex justify-content-center justify-content-lg-start">
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="../assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

    </section><!-- End Hero -->

{% endblock %}
