{% extends "../website/templates/base.jinja2" %}

{% block inner_head %}
    <title>My Hubs</title>

    <link rel="stylesheet" href="static/css/hubs.css"/>

    <script type="text/javascript" src="static/myHubs.js"></script>

{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="flex-column">
            <h2 class="text-center">Hubs</h2>
            {% if user is not none and user != 'Public' %}
            <h4 class="text-center">{{ user }}</h4>
            {% else %}
            <h4 class="text-center">Public</h4>
            {% endif %}
            <div class="text-center">
                <a class="btn btn-primary" href="/newHub/" style="display:inline-block;" id="uploadHubButton">
                Upload New Hub
            </a>
            </div>

        </div>
    </div>

    <hr/>

    <div>
        {% if user is not none and user != 'Public' %}
        <div class="float-left" onclick="checkHubs()">
            <form class="form-inline">
                <b style="margin-right: 10px">Filter: </b>

                <div class="form-check form-check-inline rounded" style="padding:5px; background-color: #b22b16">
                    <input class="form-check-input" type="checkbox" value="" id="owned-hubs"
                           checked>
                    <label class="form-check-label" for="owned-hubs" style="color: aliceblue;">
                        Owned Hubs
                    </label>
                </div>
                <div class="form-check form-check-inline bg-secondary rounded" style="padding:5px">
                    <input class="form-check-input" type="checkbox" value="" id="shared-hubs"
                           checked>
                    <label class="form-check-label" for="shared-hubs" style="color: aliceblue;">
                        Shared Hubs
                    </label>
                </div>
                <div class="form-check form-check-inline rounded" style="padding:5px; background-color: #3b9e00">
                    <input class="form-check-input" type="checkbox" value="" id="public-hubs"
                           checked>
                    <label class="form-check-label" for="public-hubs" style="color: aliceblue;">
                        Public Hubs
                    </label>
                </div>
            </form>
        </div>
        {% endif %}

        <div class="float-right">
            <button id="edit" class="btn btn-primary" onclick="editHubs(true)" style="display: inline-block; font-size: 10px;">
                EDIT HUBS
            </button>
            <button id="stop-edit" class="btn btn-danger" onclick="editHubs(false)"
                    style="display: none; font-size: 10px;">FINISH EDITING
            </button>
        </div>
    </div>

    <br><br>

    <ul>
        {% for hubName in hubInfos %}
        {% set hub = hubInfos[hubName] %}

            <li style="list-style-type: none">

                {% if hub['owner'] == user != 'Public' %}

                    <div class="my-hubs">

                        <div class="card" style="width: 95%;">

                            <div class="card-header" id="myHubHeader">
                                <a class="card-link rounded" id="{{hubName}}_HubLink" href="/{{ user }}/{{ hubName }}/">
                                    {{ hubName }}
                                </a>

                {% elif user in permissions[(hub['owner'], hubName)] and permissions[(hub['owner'], hubName)][user]["Hub"] %}

                    <div class="shared-hubs">

                        <div class="card" style="width: 95%;">

                            <div class="card-header" id="otherHubHeader">
                                <a class="card-link rounded" id="otherHubLink" href="/{{ hub['owner'] }}/{{ hubName }}/">
                                    {{ hubName }}
                                </a>

                {% elif hub['isPublic'] %}

                    <div class="public-hubs">

                        <div class="card" style="width: 95%;">

                            <div class="card-header" id="publicHubHeader">
                                <a class="card-link rounded" id="{{hubName}}_publicHubLink" href="/{{ hub['owner'] }}/{{ hubName }}/">
                                    {{ hubName }}
                                </a>

                {% endif %}

                                {% if hub['owner'] == user %}
                                    <div class="edit-elements">
                                        <button onclick="confirmDeleteHub('{{hubName}}', '{{hub['owner']}}')" class="btn btn-warning"
                                                style="font-size: 12px; padding: 0 5px; display:inline"> -
                                            Delete Hub
                                        </button>
                                    </div>

                                {% endif %}

                                {% if hub['owner'] == user or permissions[(hub['owner'], hubName)]['Publicity'] %}
                                    <div class="float-right">
                                        <form class="form-inline" action="/public/{{ hub['owner'] }}/{{ hubName }}/" method="POST">
                                            <div class="form-check form-check-inline">
                                                <label for="chkpublic" style="margin-right: 10px; color:antiquewhite">Public:</label>
                                                <input type="checkbox" name="chkpublic" id="chkpublic" onChange="this.form.submit()"
                                                        {% if hub['isPublic'] %}
                                                            checked
                                                        {% endif %}
                                                >
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}

                        </div>

                        <div class="card-body">
                            <div class="card-text">
                                <b>Tracks:</b> {{ hub['tracks']|length }}
                                <br>
                                {% if hub['owner'] == user or
                                        permissions[(hub['owner'], hubName)]['Track'] or
                                        (hub['isPublic'] and permissions[(hub['owner'], hubName)]['Track']) %}
                                    <ul class="list-group-flush" style="width:40%">
                                    {% for track in hub['tracks'] %}
                                        <li class="list-group-item">
                                            {{ track }}
                                            <form class="edit-elements" action="/{{ hub['owner'] }}/{{ hubName }}/removeTrack/" method="post"
                                                                        style="display:none">
                                                <input value="{{ track }}" id="track" type="hidden" name="trackName">
                                                <button type="submit" class="btn btn-danger" formmethod="post"
                                                        style="font-size: 10px; padding: 0 5px; display:inline"> -
                                                    remove
                                                </button>
                                            </form>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    <form class="edit-elements" action="/{{ hub['owner'] }}/{{ hubName }}/addTrack/" method="POST" style="display: none">
                                        <br>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" id="add-track-label" for="trackName">
                                                    Name
                                                </label>
                                            </div>
                                            <input type="text" id="trackName" name="track" class="form-control"
                                                    aria-describedby="add-track-label">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" id="add-category-label" for="category">
                                                    Category
                                                </label>
                                            </div>
                                            <input type="text" id="category" name="category" class="form-control"
                                                    aria-describedby="add-category-label">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" id="add-url-label" for="url">
                                                    URL
                                                </label>
                                            </div>
                                            <input type="text" id="url" name="url" class="form-control"
                                                    aria-describedby="add-url-label">
                                            <input class="btn btn-outline-dark" type="submit" value="add track"
                                                    style="margin-left: 10px">
                                        </div>
                                    </form>
                                {% endif %}
                                <b>Labels:</b> {{ hub['numLabels'] }}
                                <br>
                                <a id="{{hub['owner']}}-{{ hubName }}-hubInfo-showMore" href="/myHubs/{{hub['owner']}}/{{ hubName }}/moreInfo/">Show More {{ hubName }} Info...</a>



                                <hr>

                                <b>Owner:</b> {{ hub['owner'] }}

                                {% if hub['owner'] == user or permissions[(hub['owner'], hubName)]['Moderator'] %}

                                    <br>
                                    <b>Users | Permissions:</b>

                                    {% if permissions[(hub['owner'], hubName)] is defined and permissions[(hub['owner'], hubName)]|length > 0 %}

                                        <table class="table table-bordered table-striped table-responsive-md">
                                            <thead class="thead-light">
                                                <th scope="col">User</th>
                                                <th scope="col" class="text-center">Labels</th>
                                                <th scope="col" class="text-center">Tracks</th>
                                                <th scope="col" class="text-center">Hubs</th>
                                                <th scope="col" class="text-center">Moderator</th>
                                            </thead>

                                            <tbody>
                                            {% set perms = permissions[(hub['owner'], hubName)] %}
                                                {% for coUser in perms %}
                                                {% set coUserPerms = perms[coUser] %}
                                                    {% if coUser != "Public" and coUser != user %}
                                                        <tr>
                                                            <th scope="row">
                                                                <form class="edit-elements float-right" action="/{{ hub['owner'] }}/{{ hubName }}/removeUser/" method="post"
                                                                    style="display:none">
                                                                    <input value="{{ hubName }}" id="hubName" type="hidden" name="hubName">
                                                                    <input value="{{ coUser }}" id="coUserName" type="hidden"
                                                                        name="coUserName">
                                                                    <input value="{{ hub['owner'] }}" id="owner" type="hidden" name="owner">
                                                                    <button type="submit" class="btn btn-danger" formmethod="post"
                                                                            style="font-size: 10px; padding: 0 5px; display:inline"> -
                                                                        remove
                                                                    </button>
                                                                </form>

                                                                {{ coUser }}
                                                            </th>

                                                            {% if coUserPerms is not none %}
                                                                <form action="/{{ hub['owner'] }}/{{ hubName }}/permissions/" method="POST">
                                                                    <fieldset>
                                                                        <td class="text-center">
                                                                            <input type="checkbox" name="Label" id="chkLabel" onChange="this.form.submit()"
                                                                                    {% if coUserPerms[ "Label" ] %}
                                                                                        checked
                                                                                    {% endif %}
                                                                            >
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <input type="checkbox" name="Track" id="chkTrack" onChange="this.form.submit()"
                                                                                    {% if coUserPerms[ "Track" ] %}
                                                                                        checked
                                                                                    {% endif %}
                                                                            >
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <input type="checkbox" name="Hub" id="chkHub" onChange="this.form.submit()"
                                                                                    {% if coUserPerms[ "Hub" ] %}
                                                                                        checked
                                                                                    {% endif %}
                                                                            >
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <input type="checkbox" name="Moderator" id="chkModerator" onChange="this.form.submit()"
                                                                                    {% if coUserPerms[ "Moderator" ] %}
                                                                                        checked
                                                                                    {% endif %}
                                                                            >
                                                                        </td>
                                                                    </fieldset>
                                                                </form>
                                                            {% endif %}
                                                        {% endif %}

                                                    </tr>

                                                {% endfor %}

                                                {% if "Public" in perms %}
                                                    <tr>
                                                        <th scope="row">
                                                            Public
                                                        </th>

                                                        {% if perms is not none %}
                                                        {% set publicPerms = perms["Public"] %}
                                                            <form action="/{{ hub['owner'] }}/{{ hubName }}/permissions/" method="POST">
                                                                <fieldset>
                                                                    <input type="hidden" id="coUser" name="coUser" value="Public">
                                                                    <td class="text-center">
                                                                        <input type="checkbox" name="Label" id="chklabels" onChange="this.form.submit()"
                                                                                {% if publicPerms[ "Label" ] %}
                                                                                    checked
                                                                                {% endif %}
                                                                        >
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" name="Track" id="chktracks" onChange="this.form.submit()"
                                                                                {% if publicPerms[ "Track" ] %}
                                                                                    checked
                                                                                {% endif %}
                                                                        >
                                                                    </td>
                                                                    <td class="text-center">
                                                                    </td>
                                                                    <td class="text-center">
                                                                    </td>
                                                                </fieldset>
                                                            </form>
                                                        {% endif %}

                                                    </tr>

                                                {% endif %}

                                            </tbody>
                                        </table>

                                    {% else %}
                                        No Added Users
                                    {% endif %}

                                {% endif %}

                            </div>

                        {% if hub['owner'] == user %}
                            <form class="edit-elements" action="/{{hub['owner']}}/{{ hubName }}/addUser/" method="POST" style="display: none">
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" id="add-user-label" for="userEmail">
                                            User Email
                                        </label>
                                    </div>
                                    <input type="email" id="userEmail" name="userEmail" class="form-control"
                                            aria-describedby="add-user-label">
                                    <input value="{{ hubName }}" id="hiddenHubName" type="hidden" name="hub">
                                    <input value="{{ hub['owner'] }}" id="hiddenOwner" type="hidden" name="owner">
                                    <input class="btn btn-outline-dark" type="submit" value="add user"
                                            style="margin-left: 10px">
                            </form>
                        {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            {% if hub['owner'] == user %}

            <br class="my-hubs" id="hubs-break">

            {% else %}

            <br class="shared-hubs" id="hubs-break">

            {% endif %}



        {% endfor %}

    </ul>
{% endblock %}
