{% extends "templates/base.jinja2" %}

{% block inner_head %}
    <title>Upload New Hub</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">

        function newHubCallback(data, status)
        {
            window.location.href = data;
        }

        function uploadHub() {
            let hubUrl = document.getElementById('hubUrl').value;
            let query = {'command': 'uploadHub', 'args': {'hubUrl': hubUrl}}

            sendAjax('/uploadHubUrl/', query, newHubCallback)
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column flex-grow h-100">
    <form action="javascript:uploadHub()">
        <label for="hubUrl">Hub Url</label><br>
        <input type="text" id="hubUrl" name="hubUrl"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p id="status" hidden="true"></p>
</div>
{% endblock %}