{% extends "templates/base.jinja2" %}

{% block inner_head %}
    <title>My Account</title>
{% endblock %}

{# handles account views for whether logged in or not #}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="container mt-4" style = "background-color: whitesmoke; padding: 50px; border-color: darkblue; border-width: 4px; border-style: solid; margin: 10px">
            <h2 class="text-center">PROFILE PAGE:</h2>
            <p>
                <b>Email:</b> {{user}}
            </p>
        </div>
    </div>
{% endblock %}