{% extends "templates/base.jinja2" %}

{% block inner_head %}
    <title>Success</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container mt-4" style = "background-color: whitesmoke; padding: 25px; border-color: black; border-width: 4px; border-style: solid; margin: 10px; width: 450px; min-width: 400px">
        <div class="container-fluid d-flex flex-column flex-grow h-100">
            <h3 class="text-center mb-3">Logged In as {{user}}</h3>
            <h4>Members:</h4>
            <ul>
                {% for key, item in users.items() %}
                <li>{{key}}</li>
                {% endfor %}
            </ul>
            <form action="/logout/" method="get">
                <div class="form-group">
                    <input type="submit" value="Sign Out" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}